.header {
    width: 100%;
    height: fit-content;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
.foto {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    /* background-image: url('./assets/img/fotoJuan.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nombre {
    width: 60vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nombre h1 {
    color: var(--azul-masclaro);
    margin-right: 9%;
}
.nombre h3 {
    color: var(--azul-claro);
    font-size: 1.8em;
    margin-right: 9%;
}
/* -------------------------------------------------
RESPONSIVE
------------------------------------------------- */
@media (max-width:768px) {
    .header {
      padding: 0.4em;
      justify-content: space-around;
      margin-bottom: 1em;
    }
    .nombre h1 {
        margin-right: 5%;
    }
    .nombre h3 {
        font-size: 0.8em;
        margin-right: 5%;
    }
}
